*{
    margin: 0;
    top: 0;
}

body
{
    color: white;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(21,21,21,1) 27%, rgba(30,30,30,1) 52%, rgba(40,40,40,1) 74%, rgba(50,50,50,1) 100%);
    font-family: Arial, sans-serif;
}


/* NAV */

nav {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
    top: 0;
    transition: top 0.5s ease;
}

nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0,0.95);
    transition: top 1s ease 0s;
    display: none;
    padding: 0;
}

nav.showNav {
    top: -100%;
}


nav .mainMenu li
{
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: 0.2s ease;
}

nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
}

nav .mainMenu .closeMenu {
    display: block;
    font-size: 4rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.icons i {
    display: inline-block;
    font-size: 2rem;
    padding: 12px;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}
.fa-twitter:hover {
    color: rgb(86, 154, 243);
}
.fa-instagram:hover {
    color: rgb(255, 0, 191);
}
.fa-github:hover {
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

nav .mainMenu.slideInOut {
    animation: slideInOut 1s ease;
}


@keyframes slideInOut {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/* NAV OPEN MENU */

.openMenu {
    position: fixed;
    top: 10px;
    right: 20px;
}

.openMenu button {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

/* Down To Up */

.DownToUp {
    display: none;
    position: fixed;
    top: calc(100% - 110px);
    right: 20px;
}

.DownToUp button {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.DownToUp .arrow {
    display: inline-block;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.DownToUp p {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2,auto);
    color: white; 
}


footer h2 {
    font-size: 4rem;
    margin-top: 20px;
    padding-left: 20px;
    grid-column: span 2;
}

.boutons {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.boutons a {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
}

button {
    display: block;
    margin-bottom: 10px;
}


.inputs {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    width: auto;
    justify-self: end;
    padding-right: 20px;
  }

.inputs :nth-child(5) {
    height: 200px;
}

.inputs :last-child {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inputs :last-child:hover {
    background-color : rgba(255,255,255,0.2);
}

input {
    display: block;
    height: 50px;
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    right: 0;
}

.separator {
    grid-column: span 2;
    grid-row: 3;
    height: 2px;
    background-color: white;
}


.bandeau-footer {
    grid-column: span 2;
    grid-row: 4;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center; 
    justify-content: space-between;
    padding: 40px 20px 0px 20px;
}

.bandeau-footer .right-footer a,
.bandeau-footer .left-footer a
{
    color: white;
    text-decoration: none;
}

.bandeau-footer .left-footer {
    grid-column: 1;
}
.bandeau-footer .right-footer {
    grid-column: 2;
    justify-self: end;
}

.right-footer a img
{
    width: 25px;
    height: 25px;
    object-fit: cover;
}


/* MISC */

a.footer-button{
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 4px solid #ffffff;
    border-radius: 0px;
    display: inline-block;
   }
   a.footer-button:hover{
    background-color: #515151;
   }
   a.footer-button:active{
    transform: scale(0.95);
   }

a.buy_button{
    background: linear-gradient(to right,#252685 ,#09015b);
    background-color: #252685;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 20px 40px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin-top: auto;
    text-align: center;
}

a.buy_button:hover{
background: linear-gradient(to right,#585896 ,#515176);
background-color: #585896;
}

a.buy_button:active{
transform: scale(0.95);
}

a{
    cursor: pointer;
}

@media (max-width: 768px)
{
    footer {
        display: flex;
        flex-direction: column;
    }

    footer h2 {
        font-size: 2rem;
        grid-row: 1;
    }

    .boutons {
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: center;
      }
    .boutons a {
        display: inline-block;
        width: auto;
        height: auto;
        text-align: center;
        margin: 2px;
    }
    .inputs {
        padding-right: 10px;
        overflow-x: hidden;
    }
    input {
        width: calc(100% - 20px);
        margin: 5px 10px; 
    }

    input::placeholder
    {
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) and (max-width: 1500px) {
    input::placeholder
    {
        font-size: 1.2rem;
    }
}