@media print {
    @page {
        margin: 0;
    }
    .CVIMG img{
        width: 100vw;
        height: 100vh;
        
    }
    .CVIMG img:last-child {
        page-break-after: always;
    }

    .no-print {
        display: none;
    }
     
}